* {
    margin: 0px;
    padding: 0px;
}
/* Homepage */
.main {
    position: relative;
}
.main img {
    width: 100vw;
    display: flex;
}
.main h1 {
    bottom: 30px;
    left: 16px;
    font-size: 2vw;
    position: absolute;
}

.main p {
    bottom: 10px;
    left: 16px;
    font-size: 2vw;
    font-style: italic;
    position: absolute;
}
/* carousel */
#carouselimg {
    margin-left: 5px;
    margin-right: 5px;
    height: 250px;
}
/* section after the carousel */
.boxpage {
    margin-top: 10px;
}

#picbody {
    border: solid 1px black;
    height: 100vw;
    margin: 50px;
}
.phrase {
    text-align: center;
    margin: 10px;
}

/* pictures box */
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
#pics {
    width: 250px;
    height: 250px;
    overflow: hidden;
    padding: 16px;
}
/* end */

/* About */
img.aboutpic {
    width: 300px;
}
/********** Large devices only **********/

@media (min-width: 1200px) {
    

}


/********** Medium devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
 
}


/********** Small devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
  
}